@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-Vindo!</h1>
    <p>Crud de cadastro de pessoas criado com ASP.NET Core MVC + Firebase para estudo</a>.</p>
</div>